{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<!--Custom Css -->
<style>
    :root{
        --main-bg: #3d4ee0;
        
    }
    .main-bg{
        background-image: ;
    }
</style>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-1g-4 col-md-8 col-sm-8">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3"> Login</h2>

                </div>
                <div class="card-body">
                    {% if not request.user.is_authenticated %}
                        <form action="" id="login-form" method="post">
                            {% csrf_token %}
                         {{ form.as_p}}
                        <!--
                            <div class="mb-4">
                                <label for="username" class="form-label">Username/Email</label>
                                <input class="form-control" type="text" name="username" id="username">Django Model usa el Name en el metodo POST.get()
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>
                            <div class="mb-4">
                                <input class="form-check-input" type="checkbox" name="recordar" id="recordar">
                                <label for="recordar">Recordar Contraseña</label>
                            </div>
                        -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <p class="p-3"> No tienes usuario? Te gustaria <a href="/register/">Registrarse</a>? </p>
                        </form>
                    {% else %}
                    <p class="p-3"> Ya has iniciado sesion. Te gustaria <a href="/logout/">Cerrar Sesion</a>? </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}