{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}  

<div class="container-fluid">

  
    <div class="row">
      {% include "navbar.html" %}
      
      
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2"><p class="text-white ">Dashboard</p></h1>
        </div>

  {% endif %}
        <h2 class="h2 text-light">Info Local</h2>
          <div class="table-responsive bg-light opacity-75 rounded">
            {% if object_list %}
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>Rol</th>
                  <th>Tag</th>
                  <th>Descripcion</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                
                {% for x in object_list %}
                <tr>
                  <td>
                    {{x.pk}}
                  </td>
                  <td>
                    <small>
                      <a href="{% url 'edit_config' x.pk %}">(Editar)</a>
                      <a href="{% url 'delete_config' x.pk %}">(Borrar)</a> 
                    </td>
                  </small>
                  </td>
                  <td>{{ x.role }}</td>
                  <td>{{ x.name}}</td>
                  <td>{{x.description}}</td>
                  <td>{{x.status}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <h1>No hay Nodos en la Base de datos</h1>
            {% endif %}
          </div>
        
      </main>
    </div>
</div>




{% endblock content %}