<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky ">
            
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link inactive text-white" href="#">
                  <span data-feather="clock"></span>
                  <p>System Time :</p>
                  <p>{{ System_date }} {{ System_time }}</p>  
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link active" href="/">
                <span data-feather="home"></span>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="server"></span>
                Network
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <span data-feather="settings"></span>
                Configuracion
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reportes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Integraciones
              </a>
            </li>
          </ul>
        </div>
      </nav>